<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox animated fadeInDown" ng-show = "showNewGroupForm">
        <div class="ibox-title">
            <h5>New Feature Group</h5>
            <div class="ibox-tools">
                <a ng-click = "showNewGroupForm = false" class="btn btn-danger btn-outline btn-xs">
                    <i class="fa fa-close"></i>
                </a>
            </div>            
        </div>
        <div class="ibox-content m-b-sm border-bottom">
            <form method="post", ng-submit="createGroup()">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Group Name</label>
                            <input type="text"  ng-model = 'group.name' placeholder="Enter Group name" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">&nbsp;</label>
                        <button class="btn btn-primary btn-outline btn-block" 
                            type="submit">
                            Create New
                        </button>
                    </div>          
                </div>            
            </form> 
        </div>
    </div>
    <div ng-init = "getAllGroup()">
		<div class="ibox">
            <div class="ibox-title">
                <h5>Feature Groups</h5>

                <div class="ibox-tools">
                    <a ng-click = "showNewGroupForm = true" class="btn btn-primary btn-outline btn-sm">Create Group</a>
                </div>
            </div>            
            <div class="ibox-content">
                <div class = "serach-section">
                    <div class="input-group">
                        <input type="text" placeholder="Search Group" ng-model="searchFeature" class="input-sm form-control"> 
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary btn-outline"> 
                                <i class="fa fa-search"></i> Search
                            </button> 
                        </span>                            
                    </div>
                </div>

                <div class="project-list">
                    <table class="table table-hover">
                        <tbody>
                            <tr ng-repeat="feature_group in group.feature_groups | filter: searchFeature track by $index">
                                <td class="project-title">
                                    <a ng-bind = 'feature_group.name'></a>
                                </td>
                                <td class="project-actions">
                                    <a ng-click = "getDetailOrganization(organization.id)" class="btn btn-warning btn-outline btn-sm"><i class="fa fa-folder"></i> </a>
                                    <a href="" class="btn btn-success btn-outline btn-sm"><i class="fa fa-pencil"></i> </a>
                                    <a ng-click = "deleteGroup(feature_group.id)" class="btn btn-danger btn-outline btn-sm"><i class="fa fa-times"></i> </a>                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
	</div>
</div>