<div class="ibox">
    <div class="ibox-title">
        <h5>Orders</h5>
        <div class="ibox-tools">
			<a ng-click = 'createOrder()' class="btn btn-primary btn-outline btn-sm">Create new Order</a>
        </div>
    </div>					

    <div class="ibox-content table-responsive">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
	            <tr>
	                <th>Order ID</th>
	                <th data-hide="phone">Shirts</th>
	                <th data-hide="phone">Amount</th>
	                <th data-hide="phone">Date added</th>
	                <th data-hide="phone,tablet" >Date modified</th>
	                <th data-hide="phone">Status</th>
	                <th class="text-right">Action</th>
	            </tr>
            </thead>
            <tbody>
	            <tr ng-repeat = "order in orders track by $index">
	                <td>
	                   <span ng-bind = "order.id"></span>
	                </td>
	                <td>
	                    4
	                </td>
	                <td>
	                    $500.00
	                </td>
	                <td>
	                    03/04/2015
	                </td>
	                <td>
	                    03/05/2015
	                </td>
	                <td>
	                    <span class="label label-primary">Pending</span>
	                </td>
	                <td class="text-right">
	                    <div class="btn-group">
	                        <button class="btn-white btn btn-xs" ng-click = "showOrder()">View</button>
	                        <button class="btn-white btn btn-xs">Edit</button>
	                        <button class="btn-white btn btn-xs" ng-click = "deleteOrder(order.id)">Delete</button>
	                    </div>
	                </td>
	            </tr>
            </tbody>
            <tfoot>
	            <tr>
	                <td colspan="7">
	                    <ul class="pagination pull-right"></ul>
	                </td>
	            </tr>
            </tfoot>
        </table>
    </div>
</div> 
 