<div class="wrapper wrapper-content white-bg animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
		    <div class="input-group" style="margin-bottom:5px;">
		    	<span class="input-group-btn">
		    		<button ui-sref="dashboards.order.new.line_item.fabrics_features" class="btn btn-white btn-outline btn-sm" style="margin-right:5px;"><i class="fa fa-arrow-left"></i></button>
		    	</span>			    	
		    	<input type="text" placeholder="Search Pocket" class="input-sm form-control"> <span class="input-group-btn">
		    		<button type="button" class="btn btn-sm btn-primary btn-outline">
		    			<i class="fa fa-search"></i> Search
		    		</button>
		    	</span>
			</div>
		</div>

		<div class="col-sm-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/pocket.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>No Pocket</strong></h3>

		                <p>Keep things clean and minimal with no pocket.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
		<div class="col-sm-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/pocket.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Rounded Pocket</strong></h3>

		                <p>The rounded pocket has a straight bottom edge with rounded corners.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
		<div class="col-sm-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/pocket.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Angled Pocket</strong></h3>

		                <p>The angled pocket has a slight \'V\' shape that comes to a point at the center bottom.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
	</div>
</div>