<div class="wrapper wrapper-content white-bg animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
		    <div class="input-group" style="margin-bottom:5px;">
		    	<span class="input-group-btn">
		    		<button ui-sref="dashboards.order.new.line_item.fabrics_features" class="btn btn-white btn-outline btn-sm" style="margin-right:5px;"><i class="fa fa-arrow-left"></i></button>
		    	</span>			    	
		    	<input type="text" placeholder="Search Cuff" class="input-sm form-control"> <span class="input-group-btn">
		    		<button type="button" class="btn btn-sm btn-primary btn-outline">
		    			<i class="fa fa-search"></i> Search
		    		</button>
		    	</span>
			</div>
		</div>

		<div class="col-sm-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/cuff.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Single Button</strong></h3>

		                <p>You can never go wrong with a single button cuff. This is our basic cuff that works with every shirt for every occasion.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
		<div class="col-sm-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/cuff.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Double Button</strong></h3>

		                <p>A double button cuff adds a touch of formality to a dress shirt, or distinction to a casual shirt. This cuff is slightly wider than our single button cuff, and pairs well with a double button collar.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
		<div class="col-sm-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/cuff.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Short Sleeve</strong></h3>

		                <p>All of our shirts can be made with short sleeves. Nothing beats a fitted short sleeve shirt in the summer or warmer climates.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
 		<div class="col-sm-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/cuff.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Double Button</strong></h3>

		                <p>The double button collar is a bit larger and more robust.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
 		<div class="col-sm-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/cuff.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Button Down</strong></h3>

		                <p>The Sartor button-down is a fresh take on an American classic. It has a medium spread and shorter collar flaps for a modern, casual look.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
	</div>
</div>