<div class="wrapper wrapper-content white-bg animated fadeInRight">
	<div class="row">
		<div class="col-xs-12">
		    <div class="input-group" style="margin-bottom:5px;">
		    	<span class="input-group-btn">
		    		<button ui-sref="dashboards.order.new.line_item.fabrics_features" class="btn btn-white btn-outline btn-sm" style="margin-right:5px;"><i class="fa fa-arrow-left"></i></button>
		    	</span>		    	
		    	<input type="text" placeholder="Search Collar" class="input-sm form-control"> 
		    	<span class="input-group-btn">
		    		<button type="button" class="btn btn-sm btn-primary btn-outline">
		    			<i class="fa fa-search"></i> Search
		    		</button>
		    	</span>
			</div>
		</div>		

		<div class="col-xs-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/collar.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Semi Spread</strong></h3>

		                <p>The semi-spread collar is a well-balanced modern collar that works well for both casual and dress occasions.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
		<div class="col-xs-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/collar.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Full Spread</strong></h3>

		                <p>The full spread collar is unquestionably formal and elegant. Ideal for a wider tie know (think windsor or half-windsor).</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
		<div class="col-xs-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/collar.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Point Spread</strong></h3>

		                <p>The point collar is our narrowest spread. It works great with a skinny tie, or if you want the collar points to sit closer to your neck when open.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
 		<div class="col-xs-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/collar.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Double Button</strong></h3>

		                <p>The double button collar is a bit larger and more robust.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
 		<div class="col-xs-12">
		    <div class="contact-box">
		        <a ui-sref="dashboards.order.new.line_item.fabrics_features">
		            <div class="col-sm-5">
		                <img alt="image" class="img-circle m-t-xs img-responsive" src="img/collar.png">
		            </div>
		            <div class="col-sm-7">
		                <h3><strong>Button Down</strong></h3>

		                <p>The Sartor button-down is a fresh take on an American classic. It has a medium spread and shorter collar flaps for a modern, casual look.</p>
		            </div>
		            <div class="clearfix"></div>
		        </a>
		    </div>
		</div>
	</div>
</div>