<div class="ibox float-e-margins animated fadeInRight" style="margin-bottom:20px;">
    <div class="ibox-content-small profile-content">
        <div class="row">
    		<div class="col-sm-6 col-md-4">
				<div class="form-group">
					<select class="form-control" name="account">
			        	<option>Load Template</option>
			    	</select>
				</div>
    		</div>        	
    		<div class="col-sm-6 col-md-4">
				<div class="form-group">
					<select class="form-control" name="account" ng-model = "line_item.profile_id">
			        	<option value = "1">Dress Tucked</option>
			        	<option value = "2">Casual Untucked</option>
			        	<option value = "3">Casual Middle</option>
			    	</select>
				</div>
    		</div>
        	<div class="col-sm-12 col-md-4">
			    <div class="input-group" style="margin-bottom:5px; text-align:right;">
			    	<span class="input-group-btn">
			    		<button class="btn btn-primary btn-md" style="margin-right:5px;" title='Save as Template'>
			    			<i class="fa fa-save" aria-hidden="true"></i>
			    		</button>
			    		<button ui-sref="dashboards.order.new.line_items.step_one" class="btn btn-white btn-md" style="margin-right:5px;">
			    			<i class="fa fa-close" aria-hidden="true"></i>
			    		</button>			    		
			    	</span>		    	
				</div>        		
        	</div>    		
        </div>	
        <div class="row">
        	<div class="col-md-8 col-lg-9">
        		<div ui-view></div>	
        	</div>
        	<div class="col-md-4 col-lg-3">
			    <div class="ibox float-e-margins">
			        <div class="ibox-title-small">
			            <h3>Shirt Summary</h3>
			        </div>        
			        <div class="ibox-content-small">
			            <table class="table custom-table">
			                <tr>
			                    <td>CMT</td>
			                    <td class="priceColumn"><span>$35.00</span></td>
			                </tr>
			                <tr>
			                    <td>Fabric</td>
			                    <td class="priceColumn"><span>$16.00</span></td>
			                </tr> 
			                <tr>
			                    <td>Buttons</td>
			                    <td class="priceColumn"><span>$5.00</span></td>
			                </tr>
			                <tr>
			                    <td colspan="2"><hr/></td>
			                </tr>                 
			                <tr>
			                    <td><strong>Total</strong></td>
			                    <td class="priceColumn"><span style="font-weight: bold;">$56.00</span></td>
			                </tr> 
			            </table>
			        </div>
			    </div>	

	            <div class="row">                      
	                <div class="form-group" style="margin:5px">
	                    <div class="col-xs-12">
	                        <button type="button" class="btn btn-primary btn-outline btn-w-m btn-block" ng-click = "saveLineItem()"> Save Shirt</button>
	                    </div>
	                </div>
	            </div>
			    
        	</div>        	
        </div>
		
    </div>
</div>