<div class="ibox">
    <div class="ibox-content wizard">
        <div class="steps clearfix">
            <ul>

                <li ui-sref-active="current">
                    <a ui-sref="dashboards.order.new.line_items.step_one" class="btn btn-default">1. Shirts</a>
                </li>
                <li ui-sref-active="current">
                    <a ui-sref="dashboards.order.new.line_items.step_two" class="btn btn-default">2. Shipment</a>
                </li>
                <li ui-sref-active="current">
                    <a ui-sref="dashboards.order.new.line_items.step_three" class="btn btn-default">3. Confirm</a>
                </li>
            </ul>
        </div>
        <div class="wizard">
            <div class="content">
                <div id="form-views" ui-view></div>
            </div>
        </div>
    </div>
</div>
