<div class="row" ng-init="getAllCustomerOfOrganization()">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Select Customer for order</h5>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-12">
                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> 
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary btn-outline"> 
                                        <i class="fa fa-search"></i>
                                        Search
                                    </button> 
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                                <tr ng-repeat= "customer in customers track by $index">
                                    <td class="project-title">
                                        <a ui-sref="dashboards.order.all_orders({id: customer.id})">{{customer.name}}</a>
                                        <br/>
                                        <small>{{customer.created_at}}</small>
                                    </td>
                                    <td class="project-completion">
                                        <small>Completion with: 48%</small>
                                        <div class="progress progress-mini">
                                            <div style="width: 48%;" class="progress-bar"></div>
                                        </div>
                                    </td>
                                    <td class="project-people">
  
                                    </td>
                                    <td class="project-actions">
                                        <a class="btn btn-white btn-sm" ui-sref="dashboards.order.all_orders({id: customer.id})"> <i class="fa fa-shopping-cart"></i></a>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>