<div class="row">
    <center>
        <h1>A Bootstrap Starter Template</h1>
      
		<div ng-app="myApp" ng-controller="myCtrl" >
		 	<p>Name : <input type="text" ng-model="your_message"></p>
		 	<div w3-test-directive></div>
		 	<h1>Hello {{firstName + " " + lastName + " " + your_message }} </h1>
		</div>
    </center>
</div>
<script>
var app = angular.module("myApp", []);

app.controller("myCtrl", function($scope) {
    $scope.firstName = "Mithil";
    $scope.lastName = "Manjrekar";
    $scope.your_message = "Two-way-binding";
});

app.directive("w3TestDirective", function() {
    return {
        template : "in the div bitches"
    };
});

</script>