<div class="wrapper wrapper-content animated fadeInRight">
    <div class = "row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 white-bg section-padding">
            <form method="post" ng-submit = "createOrganization()">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" ng-model = 'organization.name'>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="control-label">Admin Email</label>
                        <input type="text" class="form-control" ng-model = 'user.email'>
                </div>
                <div class="hr-line-dashed"></div>                
                <div class="form-group">
                    <label class="control-label">Admin Password</label>
                    <input type="password" class="form-control" ng-model = 'user.password'>
                </div>
                <div class="form-group  pull-right">
                    <button class="btn btn-white" type="button" ui-sref="dashboards.organization.all">Cancel</button>
                    <button class="btn btn-primary btn-outline" type="submit">Save</button>
                </div>                
            </form>  
        </div>
    </div>
</div>
