
<div class=" row wrapper wrapper-content animated fadeInRight" ng-init="getFabricById()">
        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Fabric Detail</h5>
                </div>
                <div class="ibox-content no-padding border-left-right">
                    <img alt="image" class="img-responsive" src={{fabricImage}}>
                </div>
                <div class="ibox-content profile-content ibox-align-media">
                    <h4>Fabric Code: <strong>{{ fabricData.sartor_code }} </strong></h4>
                     <h4>Mill Name: <strong> {{ fabricData.mill_name }} </strong></h4>
                     <h4>Shirt Price: <strong>{{ fabShirtPrice }}$ </strong></h4>
                    <div class="user-button">
                        <div class="row">
                            <form ng-submit="sendMail()">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  " style="margin:0 auto;">
                                    <input type="email" class="form-control email-align" ng-model="toEmail" name="email" id="email" placeholder="Enter E-mail" style="margin-bottom:10px;" required>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Send Email</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Description</h5>
                </div>
                <div class="ibox-content">
                    <div class="feed-activity-list">
                        <div class="feed-element">
                             <div class="media-body ">
                                <div>
                                <p  style="font-size:14px">
Going casual does not mean you have to dress down. The Hooper's vibrant color and small check add a visual pop to your ensemble, no matter how its styled. Pair with dark jeans and rolled sleeves to look effortlessly cool at your go to low-key bar on the weekend, or wear with a light sports coat and khakis for a sharp casual Friday look.
                                </p>
                                </div>
                            </div>
                        </div>
                   </div>
            	</div>
        	</div>
    	</div>
	</div>
