<div class="wrapper wrapper-content animated fadeInRight" ng-init = "getAllFabricPriceLevels()">
    <div class = "row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 white-bg section-padding">
            <form method="post" ng-submit = "createFabric()" enctype="multipart/form-data">
                <div class="form-group col-sm-6">
                    <label class="control-label">Fabric Code</label>
                    <input type="text" class="form-control" ng-model = 'fabric.sartor_code'>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Name</label>
                        <input type="text" class="form-control" ng-model = 'fabric.name'>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Mill Name</label>
                        <input type="text" class="form-control" ng-model = 'fabric.mill_name'>
                </div>                                
                <div class="form-group col-sm-6">
                    <label class="control-label">Price Level Code</label>
                    <select ng-options="fabric_price_level as fabric_price_level.id for fabric_price_level in allData.fabric_price_levels track by fabric_price_level.id" ng-model="allData.selected_fabric_price_level" class="form-control">
                    </select>
                </div>
                <div class="form-group col-sm-12">
                    <label class="control-label">Description</label>
                        <textarea class="form-control" ng-model='fabric.description' rows="3"></textarea>
                </div>                 

              <div class="form-group col-sm-12">
                <label class="control-label">Image Upload</label>
                <input type="file" file-model = "image.avtar" class="form-control" accept="image/*" image="image">
              </div>               

                <div class="form-group  col-sm-12">
                    <div class=" pull-right">
                        <button class="btn btn-white btn-outline" type="button" ui-sref="dashboards.fabrics.all">Cancel</button>
                        <button class="btn btn-primary btn-outline" type="submit">Save</button>
                    </div>
                </div>                
            </form>  
        </div>
    </div>
</div>
